<% content_for :head do %>
	<style type="text/css">
	#laminate_structure
	{
		width: 300px;
		background-color: #EFEFEF;
		border: 1px solid black;
		border-bottom: 0;
	}
	
	.laminate_layer
	{
		border-bottom: 1px solid black;
		padding-left: 4px;
	}
	
	.laminate_center
	{
		margin-top: 1px;
		position: absolute;
		width: 450px;
		border-bottom: 1px dotted red;
	}
	
	.laminate_center span
	{
		display: block;
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
	</style>
<% end %>

<p>
  <b>Title:</b>
  <%=h @calculation.title %>
</p>

<% a_equation = b_equation = d_equation = '' %>
<% z = - @calculation.laminate_center %>

<% @calculation.layers.each do |layer| %>
	<% symbol = (layer.material.data.mechanical_properties != 'isotrope' ? layer.material.symbol + layer.angle.round.to_s : layer.material.symbol) %>
	<p>
		<strong>Layer <%= layer.position %></strong><br />
	
		<%=m 't_{' + symbol + '} = ' + n(layer.thickness) + 'mm' %><br />
	
		<% if layer.material.data.mechanical_properties != 'isotrope' and layer.angle != 0.0 %>
			<%=m '\theta = ' + n(layer.angle) + '^o' %><br /><br />
	
			<%=m '\widebar{Q_11} = Q_11 \cos^2\theta + 2(Q_12 + 2Q_66) \sin^2\theta \cos^2\theta + Q_22 \sin^4\theta' %><br />
			<%=m '\widebar{Q_12} = (Q_11 + Q_22 - 4Q_66) \sin^2\theta \cos^2\theta + Q_12(\sin^4\theta + \cos^4\theta)' %><br />
			<%=m '\widebar{Q_22} = Q_11 \sin^4\theta + 2(Q_12 + 2Q_66) \sin^2\theta \cos^2\theta + Q_22 \cos^4\theta' %><br />
			<%=m '\widebar{Q_16} = (Q_11 - Q_12 - 2Q_66) \sin\theta \cos^3\theta + (Q_12 - Q_22 + 2Q_66) \sin^3\theta \cos\theta' %><br />
			<%=m '\widebar{Q_26} = (Q_11 - Q_12 - 2Q_66) \sin^3\theta \cos\theta + (Q_12 - Q_22 + 2Q_66) \sin\theta \cos^3\theta' %><br />
			<%=m '\widebar{Q_66} = (Q_11 + Q_22 - 2Q_12 - 2Q_66) \sin^2\theta \cos^2\theta + Q_66(\sin^4\theta + \cos^4\theta)' %><br /><br /><br />
		<% end %>
	
		<%=m '[\widebar{Q}]_{' + symbol + '} = \left[\array{ \widebar{Q_11} & \widebar{Q_12} & \widebar{Q_16} \\\\ \widebar{Q_12} & \widebar{Q_22} & \widebar{Q_26} \\\\ \widebar{Q_16} & \widebar{Q_26} & \widebar{Q_66} }\right] = \left[\array{ ' + n(layer.stiffness[0,0]) + ' & ' + n(layer.stiffness[0,1]) + ' & ' + n(layer.stiffness[0,2]) + ' \\\\ ' + n(layer.stiffness[1,0]) + ' & ' + n(layer.stiffness[1,1]) + ' & ' + n(layer.stiffness[1,2]) + ' \\\\ ' + n(layer.stiffness[2,0]) + ' & ' + n(layer.stiffness[2,1]) + ' & ' + n(layer.stiffness[2,2]) + ' }\right] MPa' %><br /><br /><br />
		
		<% a_equation += ' + ' unless a_equation.blank? %>
		<% a_equation += '[\widebar{Q}]_{' + symbol + '} * (' + n(z + layer.thickness) + ' - ' + n(z) + ')' %>
		
		<% b_equation += ' + ' unless b_equation.blank? %>
		<% b_equation += '[\widebar{Q}]_{' + symbol + '} * (' + n(z + layer.thickness) + '^2 - ' + n(z) + '^2)' %>
		
		<% d_equation += ' + ' unless d_equation.blank? %>
		<% d_equation += '[\widebar{Q}]_{' + symbol + '} * (' + n(z + layer.thickness) + '^3 - ' + n(z) + '^3)' %>
		
		<% z += layer.thickness %>
	</p>
<% end %>

<p>
	<strong>Laminate</strong><br />
	
	<div id="laminate_structure">
		<div class="laminate_center" style="height: <%= @calculation.laminate_center * 20 %>px;"><span>Center: <%=n @calculation.laminate_center %> mm</span></div>
		<% @calculation.layers.each do |layer| %>
			<div class="laminate_layer" style="height: <%= layer.thickness * 20 %>px;"><%= layer.position %>: <%=n layer.thickness %>mm <%=h layer.material.name %> <%= "(#{layer.angle}&deg;)" if layer.angle != 0.0 %></div>
		<% end %>
	</div><br /><br />
	
	<%=m 'A_{ij} = \sum_{k=1}^{N} (\widebar{Q_ij})_k (z_k - z_{k-1})' %><br />
	<%=m 'A_{ij} = ' + a_equation %><br /><br />
	<%=m '[A] = \left[\array{ ' + n(@calculation.stiffness(:a)[0,0]) + ' & ' + n(@calculation.stiffness(:a)[0,1]) + ' & ' + n(@calculation.stiffness(:a)[0,2]) + ' \\\\ ' + n(@calculation.stiffness(:a)[1,0]) + ' & ' + n(@calculation.stiffness(:a)[1,1]) + ' & ' + n(@calculation.stiffness(:a)[1,2]) + ' \\\\ ' + n(@calculation.stiffness(:a)[2,0]) + ' & ' + n(@calculation.stiffness(:a)[2,1]) + ' & ' + n(@calculation.stiffness(:a)[2,2]) + ' }\right] \frac{N}{mm}' %><br /><br /><br />
	
	<%=m 'B_{ij} = \frac{1}{2} \sum_{k=1}^{N} (\widebar{Q_ij})_k (z_k^2 - z_{k-1}^2)' %><br />
	<%=m 'B_{ij} = \frac{1}{2} \left[' + b_equation + '\right]' %><br /><br />
	<%=m '[B] = \left[\array{ ' + n(@calculation.stiffness(:b)[0,0]) + ' & ' + n(@calculation.stiffness(:b)[0,1]) + ' & ' + n(@calculation.stiffness(:b)[0,2]) + ' \\\\ ' + n(@calculation.stiffness(:b)[1,0]) + ' & ' + n(@calculation.stiffness(:b)[1,1]) + ' & ' + n(@calculation.stiffness(:b)[1,2]) + ' \\\\ ' + n(@calculation.stiffness(:b)[2,0]) + ' & ' + n(@calculation.stiffness(:b)[2,1]) + ' & ' + n(@calculation.stiffness(:b)[2,2]) + ' }\right] N' %><br /><br /><br />
	
	<%=m 'D_{ij} = \frac{1}{3} \sum_{k=1}^{N} (\widebar{Q_ij})_k (z_k^3 - z_{k-1}^3)' %><br />
	<%=m 'D_{ij} = \frac{1}{3} \left[' + d_equation + '\right]' %><br /><br />
	<%=m '[D] = \left[\array{ ' + n(@calculation.stiffness(:d)[0,0]) + ' & ' + n(@calculation.stiffness(:d)[0,1]) + ' & ' + n(@calculation.stiffness(:d)[0,2]) + ' \\\\ ' + n(@calculation.stiffness(:d)[1,0]) + ' & ' + n(@calculation.stiffness(:d)[1,1]) + ' & ' + n(@calculation.stiffness(:d)[1,2]) + ' \\\\ ' + n(@calculation.stiffness(:d)[2,0]) + ' & ' + n(@calculation.stiffness(:d)[2,1]) + ' & ' + n(@calculation.stiffness(:d)[2,2]) + ' }\right] Nmm' %><br /><br /><br />
</p>


<%= link_to 'Edit', edit_calculation_path(@calculation) %> |
<%= link_to 'Back', calculations_path %>
